<div class="article-form-global">
  <form class="article-form-container" [formGroup]="editArticleForm" (ngSubmit)="OnUpdateArticle()">
    <mat-form-field>
      <mat-label>Saisissez le titre de l'article</mat-label>
      <input matInput formControlName="title" required>
      <mat-error *ngIf="editArticleForm.get('title')?.hasError('required')">Merci un titre pour votre blog</mat-error>
      <mat-error
        *ngIf="editArticleForm.get('title')?.hasError('minlength') || editArticleForm.get('title')?.hasError('maxlength')"> Le
        titre doit contenir entre 3 et 10 caratères
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label> Sélectionner un blog</mat-label>
      <mat-select formControlName="blogId">
        <mat-option *ngFor="let blog of blogs" [value]="blog.id">{{ blog.title }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="content"></textarea>
      <mat-error *ngIf="editArticleForm.get('content')?.hasError('required')">Merci de saisir une description</mat-error>
      <mat-error
        *ngIf="editArticleForm.get('content')?.hasError('minlength') || editArticleForm.get('content')?.hasError('maxlength')">
        La description de l'article doit comprendre entre 20 et 100 caractères
      </mat-error>
    </mat-form-field>
    <div class="article-form-btn">
      <button mat-raised-button (click)="OnSavedArticle()">Sauvegarder</button>
      <button mat-raised-button color="primary" type="submit">Publier</button>
    </div>
  </form>
</div>
