.nav-container{
    display: flex;
    justify-content: space-between;
}
.title{
    color: #fff;
}
.btn-header{
    color: #fff;
    background-color: red;
    border-radius: 5px;
    height: 20%;
    margin-top: 2%;
}