<nav class="authentication-container">
  <div class="authentication-logo">
    <a routerLink="/dashboard" class="dashboard">
      <img src="assets/logo.png" alt="logo" class="logo"/>
    </a>
  </div>
  <div class="authentication-links">
    <a routerLink="/blogsByAuthor" class="myBlogs"> Blogs</a>
    <a routerLink="/articlesByAuthor" class="myBlogs"> Articles</a>
    <a routerLink="/commentsByAuthor" class="myBlogs"> Comments</a>
  </div>
  <div class="authentication-buttons">
    <button mat-raised-button color="warn" (click)="openAuthenticationDialog()">Connexion</button>
    <button mat-raised-button color="primary" routerLink="/blogForm" *ngIf="visibleBlogBtn()">
      <mat-icon>add_box</mat-icon>
      Blog
    </button>
    <button mat-raised-button color="accent" routerLink="/articleForm" *ngIf="visibleArticleBtn()">
      <mat-icon>add_circle</mat-icon>
      Article
    </button>
  </div>
</nav>

